@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

body {
  background: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Philosopher', sans-serif;
}

.app {
  width: 500px;
  overflow: hidden;
  &__title {
    font-size: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 64px;
    margin: 0 0 64px 0;
    text-align: center;
  }

  &__progress {
    display: flex;
    margin: 40px 0px;
  }
}

.step {
  text-align: center;
  width: 100%;
  position: relative;
}
  
.bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px; 

    &__span{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

.form {
  display: flex;
  width: 400%;
  &__title {
    font-size: 25px;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 30px;
  }
}

.button-add {
  display: flex;
  float: right;
  width: 100px;
  margin: 0 auto 16px;
  margin-left: 3px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  border-radius: 4px; 
}

.button-remove {
  display: flex;
  float: right;
  width: 100px;
  margin: 0 auto 16px;
  margin-right: 3px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  border-radius: 4px; 
}
.page {
  width: 100%;
  transition: center 0.3s ease-in-out;
}

